<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>

{% if leaderboard %}
  <h2>Contribution leaderboard</h2>
  <ul>
    {% for user in leaderboard %}
      <a href="/profile/{{user[0]}}">{{user[2]}} {{user[3]}} ({{user[0]}}): </a><a>{{user[1]}}</a><br>
    {% endfor %}
  </ul>
{% endif %}

{% if popularTags %}
  <h2>Most popular tags</h2>
  <ul>
    {% for tag in popularTags %}
      <a href="/viewTag/{{tag[0]}}">{{tag[0]}}</a> <a> (Count: {{tag[1]}})</a><br>
    {% endfor %} 
  </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/createAlbum'>Create an album</a> </li>
<li><a href='/addFriends'>Add a friend</a></li>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>